<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQhoNTuTQ3ekLUgN4OgWN2L2HrkUy-wQs</string>
	<key>GCM_SENDER_ID</key>
	<string>148313253920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluterEcom</string>
	<key>PROJECT_ID</key>
	<string>fouchifood</string>
	<key>STORAGE_BUCKET</key>
	<string>fouchifood.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148313253920:ios:6570c8e70b91ad7a19f445</string>
</dict>
</plist>